<nav>
    <div class="container">
        <div class="row align-items-center">
            <div class="logo">
                <img src="/images/nav-images/logo.png" alt="">
            </div>
            <div class="catalog">
                <button class="btn_catalog">
                    <div class="row justify-content-between align-items-center">
                        <img src="/images/nav-images/select.svg" alt="" class="btn_catalog_img">
                        <p class="btn_catalog_text">Каталог</p>
                    </div>
                </button>
            </div>
            <div class="search">
                <div class="input_search row">
                    <input type="text" placeholder="Найти товар">
                    <img src="/images/nav-images/search.svg" alt="">
                </div>
            </div>
            <div class="user_items">
                <div class="user_btns">
                    <ul class="user_btns_ul row align-items-center">
                        <li class="user_btns_li"><a href="#"
                                class="user_btns_link row flex-direction-column align-items-center">
                                <div class="user_btns_link_img"><img src="/images/nav-images/heart.svg" alt=""></div>
                                <span class="user_btns_link_span">Избранное</span>
                            </a></li>
                        <li class="user_btns_li"><a href="#"
                                class="user_btns_link row flex-direction-column align-items-center">
                                <div class="user_btns_link_img"><img src="/images/nav-images/box.svg" alt=""></div><span
                                    class="user_btns_link_span">Заказы</span>
                            </a></li>
                        <li class="user_btns_li"><a href="#"
                                class="user_btns_link row flex-direction-column align-items-center">
                                <div class="user_btns_link_img"><img src="/images/nav-images/korzinka.svg" alt=""></div>
                                <span class="user_btns_link_span">Корзина</span>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="accaunt">
                <button class="btn_user row align-items-center">
                    <img src="/images/nav-images/avatar.png" alt="" class="btn_user_first_img">
                    <p class="btn_user_name">Алексей</p>
                    <img src="/images/nav-images/Button.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="hover_catalog">
    <div class="container">
        <div class="row justify-content-between">
            <ul class="catalogs">
                <li class="catalogs_item"><a href="#" class="catalogs_link">Молоко, сыр, яйцо</a></li>
                <li class="catalogs_item"><a href="#" class="catalogs_link">Хлеб</a></li>
                <li class="catalogs_item"><a href="#" class="catalogs_link">Фрукты и овощи</a></li>
                <li class="catalogs_item catalog_mb"><a href="#" class="catalogs_link">Замороженные продукты</a></li>
            </ul>
            <ul class="catalogs">
                <li class="catalogs_item"><a href="#" class="catalogs_link">Напитки</a></li>
                <li class="catalogs_item"><a href="#" class="catalogs_link">Кондитерские изделия</a></li>
                <li class="catalogs_item catalog_mb"><a href="#" class="catalogs_link">Чай, кофе</a></li>
            </ul>
            <ul class="catalogs">
                <li class="catalogs_item"><a href="#" class="catalogs_link">Бакалея</a></li>
                <li class="catalogs_item"><a href="#" class="catalogs_link">Здоровое питание</a></li>
                <li class="catalogs_item catalog_mb"><a href="#" class="catalogs_link">Зоотовары</a></li>
            </ul>
            <ul class="catalogs">
                <li class="catalogs_item"><a href="#" class="catalogs_link">Непродовольственные товары</a></li>
                <li class="catalogs_item"><a href="#" class="catalogs_link">Детское питание</a></li>
                <li class="catalogs_item catalog_mb"><a href="#" class="catalogs_link">Мясо, птица, колбаса</a></li>
            </ul>
        </div>
    </div>
</div>