<div class="container">
  <h1 class="catalog-title">Молоко, сыр, яйцо</h1>
  <div class="catalog-btns">
    <button class="catalog-btn">Товары нашего производства</button>
    <button class="catalog-btn">Полезное питание</button>
    <button class="catalog-btn">Без ГМО</button>
  </div>
  <div class="catalog-setting">
    <input class="filter" placeholder="Фильтр" type="text" />
    <div class="catalog-clear">
      <h4>Цена</h4>
      <button> Очистить</button>
    </div>
    <div class="catalog-query">
      <input type="number" placeholder="1" />
      <img src="/images/catalog-images/tire.svg" alt="" />
      <input type="number" placeholder="100" />
    </div>
    <input
      class="sliderContainer"
      type="range"
      min="0"
      max="100"
      step="5"
      value="0"
    />
    <ul class="ul">
      <li class="li"><a class="catalog-link" href="#">Молоко</a></li>
      <li class="li"><a class="catalog-link" href="#">Сливки</a></li>
      <li class="li"><a class="catalog-link" href="#">Яйцо </a></li>
    </ul>

      

    <button class="apply">Применить</button>
    
</div>