<div class="container">
  <h1 class="catalog-title">Каталог</h1>
  <div class="catalog_images">
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-1.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-2.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-3.jpg" alt="" /></div>
  </div>
  <div class="catalog_images">
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-4.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-5.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-6.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-7.jpg" alt="" /></div>
  </div>
  <div class="catalog_images">
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-8.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-9.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-10.jpg" alt="" /></div>
  </div>
  <div class="catalog_images">
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-11.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-12.jpg" alt="" /></div>
    <div class="catalog_images_img"><img src="/images/catalog-images/catalog-13.jpg" alt="" /></div>
  </div>
</div>